.footer-login {
    background-color: #FAEF76;;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;

}

.footer-login-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}